CAERUS_API_KEY=
CAERUS_ENDPOINT=caerus.dev.ar.sdk.apps.disilab.ar:443
CAERUS_TLS=
CAERUS_TEMPLATE_BUTACA=butaca
CAERUS_TEMPLATE_BUTACA_FILA=butaca_fila
CAERUS_TEMPLATE_CAPACIDAD=funcion_capacidad
CAERUS_TEMPLATE_PRODUCTO=producto
CAERUS_METADATA=on
BACKOFFICE_TOKEN=
